@page
@model AboutModel
@{
    ViewData["Title"] = "BMI Calculator";
}
<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model.Student)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>

<br /><br /><p>Use this calculator to check your body mass index (BMI) and find out if you are a healthy weight.</p> <br /><br />


<HEAD>

    <script type=”text/javascript”>

        function  calculateBMI() {
          var weight = eval(document.form.weight.value)
          var height = eval(document.form.height.value)
          var height2 = height / 100
          var BMI = weight  / (height2 * height2)
          document.form.BodyMassIndex.value=custRound(BMI,1);
        }

        function custRound(x,places) {
          return (Math.round(x*Math.pow(10,places)))/Math.pow(10,places)
        }
        // End –>
    </script>
</HEAD>


